<div class = header>
<div routerLink="/home">Logo</div>

<button class = buttonCategory mat-button [matMenuTriggerFor]="animals">
	<span class = "span1"></span>
	<span class = "span2"></span>
	<span class = "span3"></span>
	<span class = "span4"></span>
	<div class = categoryText> <i class="fas fa-bars"></i> Categorias</div> 
</button>

<mat-menu   #animals="matMenu">

  	<button class = categories mat-menu-item *ngFor="let category of CategoryTypes">
	  <div class = categoriesText>{{ category | titlecase }}</div> 
  	</button>

</mat-menu>

<app-search-bar></app-search-bar>

<div *ngIf="isLogged; else noEstaLogueado">
	<button class = buttonSignOut (click)="signout()" mat-flat-button color="primary">
		<span class = "span5"></span>
		<span class = "span6"></span>
		<span class = "span7"></span>
		<span class = "span8"></span>
		<div class = signoutText> <i class="fas fa-sign-in-alt"></i> Cerrar Sesion</div>
	</button>

	<div class = nickname>
		{{ nickname }}
	</div>
	<div *ngIf="isAdmin; else carrito">
		<p class = panelAdmin routerLink="/admin/panel">Panel Admin</p>
	</div>



	<ng-template #carrito>
		<app-cart-header></app-cart-header>
	</ng-template>
</div>

<ng-template #noEstaLogueado>
	<button class = buttonLoginIn routerLink="/admin/login" mat-flat-button color="primary">
		<span class = "span9"></span>
		<span class = "span10"></span>
		<span class = "span11"></span>
		<span class = "span12"></span>
		<div class = loginInText> <i class="fas fa-user"></i> Iniciar Sesion</div> 
	</button>
	<button class = buttonRegister routerLink="/register" mat-flat-button color="primary">
		<span class = "span13"></span>
		<span class = "span14"></span>
		<span class = "span15"></span>
		<span class = "span16"></span>
		<div class = registerText> <i class="fas fa-plus"></i> Registrarse</div>	
	</button>
</ng-template>
</div>
