<div class = header>
<div routerLink="/home">Logo</div>

<button class = buttonCategory mat-button [matMenuTriggerFor]="animals">
	<span id = "span9"></span>
	<span id = "span10"></span>
	<span id = "span11"></span>
	<span id = "span12"></span>
	<div id = categoryText>Categorias</div> 
</button>
<mat-menu #animals="matMenu">
  <button class = categories mat-menu-item *ngFor="let category of CategoryTypes">
	  <div id = categoriesText>{{ category | titlecase }}</div> 
	</button>
</mat-menu>

<app-search-bar></app-search-bar>

<div *ngIf="isLogged; else noEstaLogueado">
	<div>
		{{ nickname }}
	</div>
	<div *ngIf="isAdmin; else carrito">
		<p routerLink="/admin/panel">Panel Admin</p>
	</div>

	<button (click)="signout()" mat-flat-button color="primary">Cerrar Sesion</button>

	<ng-template #carrito>
		<app-cart-header></app-cart-header>
	</ng-template>
</div>

<ng-template #noEstaLogueado>
	<button class = buttonLoginIn routerLink="/admin/login" mat-flat-button color="primary">
		<span id = "span1"></span>
		<span id = "span2"></span>
		<span id = "span3"></span>
		<span id = "span4"></span>
		<div id = loginInText>Iniciar Sesion</div> 
	</button>
	<button class = buttonRegister routerLink="/register" mat-flat-button color="primary">
		<span id = "span5"></span>
		<span id = "span6"></span>
		<span id = "span7"></span>
		<span id = "span8"></span>
		<div id = registerText>Registrarse</div>	
	</button>
</ng-template>
</div>