<div class = header>
<div routerLink="/home">Logo</div>

<button mat-button [matMenuTriggerFor]="animals">Categorias</button>
<mat-menu #animals="matMenu">
  <button mat-menu-item *ngFor="let category of CategoryTypes">{{ category | titlecase }}</button>
</mat-menu>

<app-search-bar></app-search-bar>

<div *ngIf="isLogged; else noEstaLogueado">
	<div>
		{{ nickname }}
	</div>
	<div *ngIf="isAdmin; else carrito">
		<p routerLink="/admin/panel">Panel Admin</p>
	</div>

	<button (click)="signout()" mat-flat-button color="primary">Cerrar Sesion</button>

	<ng-template #carrito>
		<app-cart-header></app-cart-header>
	</ng-template>
</div>

<ng-template #noEstaLogueado>
	<button class = buttonLoginIn routerLink="/admin/login" mat-flat-button color="primary">
		<span id = "span1"></span>
		<span id = "span2"></span>
		<span id = "span3"></span>
		<span id = "span4"></span>
		Iniciar Sesion
	</button>
	<button class = buttonRegister routerLink="/register" mat-flat-button color="primary">
		<span id = "span5"></span>
		<span id = "span6"></span>
		<span id = "span7"></span>
		<span id = "span8"></span>
		Registrarse
	</button>
</ng-template>
</div>