<form novalidate [formGroup]="profileForm" (ngSubmit)="onSubmit()">
	<span>Iniciar Sesion</span>

	<mat-form-field>
    <mat-label>Nickname</mat-label>
    <input type="text" matInput formControlName="nickname" placeholder="Madara">
    <mat-error *ngIf="isFieldInvalid('nickname')">
			Nickname requerido
    </mat-error>
  </mat-form-field>

	<mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" placeholder="Uchiha">
    <mat-error *ngIf="isFieldInvalid('password')">
			Password requerida
    </mat-error>
  </mat-form-field>

	<button type="submit" mat-flat-button color="primary">Iniciar Sesion</button>

	<app-field-error
		[displayError]="badNick"
		[errorMessage]="'Nickname no existe'">
	</app-field-error>
	<app-field-error
		[displayError]="badPass"
		[errorMessage]="'Password incorrecta'">
	</app-field-error>
</form>
