<div class = form *ngIf="!isOldUser; else oldUser">
	<form novalidate [formGroup]="profileForm" (ngSubmit)="onSubmit()">
		<div class = logInText>
			<span>Iniciar Sesion</span>
		</div>
		
		<div class="inputLogIn">
			<div class = nickname>
				<mat-form-field>
					<mat-label >Nickname</mat-label>
					<input type="text" matInput formControlName="nickname" placeholder="Madara" autocomplete="off">
					<mat-error *ngIf="isFieldInvalid('nickname')">
							Nickname requerido
					</mat-error>
				</mat-form-field>
			</div>

			<div class="password">
				<mat-form-field>
				<mat-label>Password</mat-label>
				<input type="password" matInput formControlName="password" placeholder="Uchiha" autocomplete="off">
				<mat-error *ngIf="isFieldInvalid('password')">
						Password requerida
				</mat-error>
				</mat-form-field>
			</div>
		</div>
		
		<mat-checkbox formControlName="recordar" color="primary">Recordar contraseña</mat-checkbox>
		<br>
		<button class = buttonLogIn type="submit" mat-flat-button color="primary">
			<span class = span1></span>
			<span class = span2></span>
			<span class = span3></span>
			<span class = span4></span>
			Iniciar Sesion
		</button>

		<button routerLink="/home" class = buttonLogIn mat-flat-button color="primary">
			<span class = span1></span>
			<span class = span2></span>
			<span class = span3></span>
			<span class = span4></span>
			Continuar como invitado
		</button>
	
		<app-field-error
			[displayError]="badNick"
			[errorMessage]="'Nickname no existe'">
		</app-field-error>
		<app-field-error
			[displayError]="badPass"
			[errorMessage]="'Password incorrecta'">
		</app-field-error>
	</form>
	
</div>

<ng-template #oldUser>
	<div class="old-user-login">
		<p class="saludo">
			Hola de nuevo: 
			<span class="nickname-user">
				{{ userInfo.userInfo.nickname }}
			</span>
		</p>

		<button (click)="recordarUsuario()" mat-flat-button color="primary">Iniciar Sesion</button>
	</div>
</ng-template>
