<form novalidate [formGroup]="profileForm" (ngSubmit)="onSubmit()">
	<span>Iniciar Sesion</span>

	<input formControlName="nickname" type="text">
	<app-field-error
		[displayError]="isFieldInvalid('nickname')"
		[errorMessage]="'nickname requerido'">
	</app-field-error>

	<input formControlName="password" type="password">
	<app-field-error
		[displayError]="isFieldInvalid('password')"
		[errorMessage]="'password requerido'">
	</app-field-error>

	<button type="submit">Iniciar Sesion</button>
</form>
