@import 'src/styles/mixinsNeonButtons';

/*VARIABLES*/
$backgroundColorSearchBar: rgba(255, 255, 255, 0.041);
$textColor: white;
$iconColor:white;
$shadowColor: #4e4e4d91;
$lightColor: #a945c7;

/*COMPONENT SEARCH - BAR*/
.searchBar{
    background-color: $backgroundColorSearchBar;
    width:100%;
    height: auto;
    border-radius: 5px;
    font-weight: 500;
    align-items:center;

    .input-text {
        color: white;
    }

    .searchText{
        margin: 10%;
        color: $textColor;
    }
    .buttonSearch:hover{
        @include neonButtonHover($lightColor);
    }
    .searchIcon{
        color: $iconColor;
        margin: 5%;
    }

    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0px;
        color: white;
    }
}

