.form-filter {
  min-height: 70vh;
  width: 25vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0px 10px 20vh 40px;
  padding: 10%;

  .category {
    margin-bottom: 10%;
  }

  .subcategories {
    margin-bottom: 15%;

    p {
      color: black;
      width: fit-content;
      margin-left: 5%;
    }
  }

  .price-range {
    margin-bottom: 5%;
  }

  .button-filter {
    margin-top: auto;
  }
}