<form novalidate [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <select formControlName="category">
    <option value="">Categoria</option>
    <option *ngFor="let category of CategoryList" [value]="category">{{ category }}</option>
  </select>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let category of CategoryList; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ category }}
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div>
        <p *ngFor="let sub of Subcategories[i]"><mat-checkbox (change)="onChange(sub)">{{ sub }}</mat-checkbox></p>
      </div>
  
    </mat-expansion-panel>
  </mat-accordion>

  <label for="lowerLimit">Precio minimo</label>
  <input formControlName="minPrice" type="text" name="lowerLimit">

  <label for="upperLimit">Precio maximo</label>
  <input formControlName="maxPrice" type="text" name="upperLimit">

  <button type="submit">Filtrar</button>
</form>

<p>form-filter works!</p>
