<form>
  <select >
    <option *ngFor="let category of CategoryList" [value]="category">{{ category }}</option>
  </select>

  <div *ngFor="let category of CategoryList; index as i">
    {{ category }}
    <p *ngFor="let sub of Subcategories[i]">
      <input type="checkbox">
      {{ sub }}
    </p>
  </div>

  <label for="lowerLimit">Precio minimo</label>
  <input type="text" name="lowerLimit">

  <label for="upperLimit">Precio maximo</label>
  <input type="text" name="upperLimit">

  <button (click)="filterProducts()">Filtrar</button>
</form>

<p>form-filter works!</p>
