<div class="carousel">
  <ngb-carousel *ngIf="products.length > 0">
    <ng-template ngbSlide *ngFor="let product of products">
      <div class="picsum-img-wrapper image-wrapper">
        <img [src]="product.images_urls[0]" alt="Random first slide" class="image-carousel">
      </div>
      <div class="carousel-caption">
        <h3>{{ product.name }}</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div>
  <app-category-catalog [products]="movies" [categoryName]="'Movies'"></app-category-catalog>
  <app-category-catalog [products]="music" [categoryName]="'Music'"></app-category-catalog>
  <app-category-catalog [products]="clothes" [categoryName]="'Clothes'"></app-category-catalog>
  <app-category-catalog [products]="food" [categoryName]="'Food'"></app-category-catalog>
</div>
