.content {
  display: flex;
  flex-direction: column;
  background-color: #23063e;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;

  .info-wrapper {
    display: flex;
    height: 80vh;

    .image-picker {
      margin: auto 20px auto 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 60vh;
      width: fit-content;
      background-color: rgba(85, 85, 85, 0.2);
      border-radius: 10px;
      padding: 10px;

      .images {
        width: 7vw;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
        opacity: 0.5;
      }

      .selected-image {
        border: 4px solid rgba(128, 128, 128, 0.3);
        opacity: 1;
      }
    }

    .image-product {
      width: 30%;
      height: fit-content;
      margin: auto 0px;
    }

    .info-product {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0px 40px;
      padding: 20px;
      width: 50%;
      height: auto;

      .name-product {
        font-size: 35px;
        text-transform: uppercase;
      }

      .description {
        font-size: 15px;
        width: 50%;
      }

      .calification {
        font-size: 20px;
        margin: 10px;
      }

      .prices-wrapper {

        .price.discounted {
          text-decoration: line-through;
        }
      }

      .button {
        width: 30px;
        margin-right: 10px;
      }
    }
  }

  .categories-wrapper {
    margin: 30px 0px;
  }

  .description-features {
    display: flex;

    .background-description {
      background-color: #0b0422;
      margin: 10px;
      padding: 15px;
      border-radius: 10px;
    }

    .description {
      width: 50%;
    }

    .dimensions {
      display: flex;
      width: 50%;
      justify-content: space-evenly;
      align-items: center;

      p {
        margin: 0px;
      }
    }
  }

}

.comments {
  display: flex;
  flex-direction: column;

  .comment {
    display: flex;
    justify-content: space-between;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: 10px;

    .background-comment {
      background-color: #0b0422;
      padding: 10px;
      border-radius: 10px;
      margin: 15px;
    }

    .comment-info {
      width: 30%;

      .comment-date {
        font-size: 10px;
        color: gray;
        margin: 0px;
      }
    }

    .comment-body {
      width: 65%;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;

  p {
    font-size: 20px;
    margin: 50px auto 10px;
    color: #ddd;
  }
}

.star {
  font-size: 1.5rem;
  color: #cf8700;
  opacity: 0.1;
}

.filled {
  color: #cf8700;
  opacity: 1;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  color: white !important;
}
