<div class="content" *ngIf="isLoaded">
  <div class="info-wrapper">
    <div class="image-picker">
      <img
        *ngFor="let image_url of product.images_urls; index as i"
        [src]="image_url"
        (click)="changeImage(i)"
        class="images"
        [class.selected-image]="image_url == currentImageURL"
      >
    </div>
    <img [src]="currentImageURL" alt="Image Product" class="image-product">

    <div class="info-product">
      <div class="name-wrapper">
        <p class="name-product">{{ product.name }}</p>
        <p>{{ product.trademark }}</p>
      </div>

      <div>
        <span class="calification">{{ product.calification }}</span>
        <ngb-rating [rate]="product.calification" [readonly]="true" [max]="5">
          <ng-template let-fill="fill">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <p class="description">Descripcion: {{ product.description }}</p>

      <div class="prices-wrapper">
        <p class="stock" [class.no-stock]="product.stock == 0">
          {{ (product.stock) ? '¡Disponible!' : 'No Disponible :(' }}
        </p>
        <p class="price" *ngIf="product.discount">$ {{ product.price * (1 - product.discount) }}</p>
        <p *ngIf="product.discount" class="discount">-{{ product.discount * 100}}% OFF</p>
        <p class="price" [class.price-discounted]="product.discount">$ {{ product.price }}</p>
      </div>

      <div>
        <button class="button" (click)="insertCart()" mat-flat-button color="primary">+</button>
        <button class="button" (click)="removeCart()" mat-flat-button color="primary">-</button>
      </div>

    </div>
  </div>

  <div class="categories-wrapper">
    <p>Categoria: {{ product.category }}</p>
    <mat-chip-list [selectable]="false">
      <mat-chip *ngFor="let sub of product.subcategories" [disableRipple]="true">
        {{ sub }}
      </mat-chip>
    </mat-chip-list>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Descripcion y caracteristicas">
      <div class="description-features">
        <div class="description background-description">
          <p>Descripcion: {{ product.description }}</p>
        </div>
        <div *ngIf="product.dimensions" class="dimensions background-description">
          <p>Peso: {{ product.weight }}</p>
          <p>Alto:  {{ product.dimensions.height_cm }}</p>
          <p>Ancho: {{ product.dimensions.width_cm }}</p>
          <p>Largo: {{ product.dimensions.length_cm }}</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Comentarios" class="label">
      <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
          <div class="comment-info background-comment">
            <p class="comment-date">{{ comment.comment_date | date }}</p>
            <p>{{ comment.nickname_author }}</p>
            
            <ngb-rating [rate]="comment.calification_author" [readonly]="true" [max]="5">
              <ng-template let-fill="fill">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>

          <div class="comment-body background-comment">
            {{ comment.comment_body }}
          </div>
        </div>
      </div>

      <div class="form-wrapper">
        <p>Ingresa un comentario!!</p>
        <app-form-comment (onCommentSubmit)="submitComment($event)"></app-form-comment>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
