.content {
  display: flex;
  flex-direction: column;
  background-color: #23063e;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;

  .info-wrapper {
    display: flex;
    height: 80vh;

    .image-product {
      width: 30%;
    }

    .info-product {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0px 40px;
      border: 3px solid #0b0422;
      padding: 20px;
      width: 50%;
      height: auto;

      .name-product {
        font-size: 35px;
        text-transform: uppercase;
      }

      .description {
        font-size: 15px;
        width: 50%;
      }

      .button {
        width: 30px;
        margin-right: 10px;
      }
    }
  }

  .categories-wrapper {
    margin: 30px 0px;
  }

}