<ul>
  <li *ngFor="let product of products; index as i">
    <img [src]="product.image_url" alt="Image Product" style="width: 100px; height: 100px;">
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.discount }}</p>
    <p>{{ product.quantity }}</p>
    <p>{{ product.finalPrice }}</p>
    <button [disabled]="product.stock <= product.quantity" (click)="incrementProduct(i)">+</button>
    <button (click)="decrementProduct(i)">-</button>
  </li>
</ul>

<p>{{ totalPrice }}</p>

<button routerLink="/cart">Ir a carrito</button>
<button (click)="emptyCart()">Vaciar carrito</button>
