<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="">nick</label>
  <input formControlName="nickname" type="text">
	<app-field-error
		[displayError]="isFieldInvalid('nickname')"
		[errorMessage]="'nickname requerido'"
  ></app-field-error>

  <label for="">names</label>
  <input formControlName="names" type="text">
	<app-field-error
		[displayError]="isFieldInvalid('names')"
		[errorMessage]="'names requerido'"
  ></app-field-error>

  <label for="">last_name</label>
  <input formControlName="last_name" type="text">
	<app-field-error
		[displayError]="isFieldInvalid('last_name')"
		[errorMessage]="'last_name requerido'"
  ></app-field-error>

  <label for="">rut</label>
  <input formControlName="rut" type="text">
	<app-field-error
		[displayError]="isFieldInvalid('rut')"
		[errorMessage]="'rut requerido'"
  ></app-field-error>

  <select name="" formControlName="region" (change)="updateCurrentRegion()">
    <option *ngFor="let region of Regions" [value]="region.region">{{ region.region }}</option>
  </select>

  <select name="" formControlName="commune">
    <option *ngFor="let commune of CurrentRegion.provincias" [value]="commune.name">{{ commune.name }}</option>
  </select>

  <label for="">address</label>
  <input formControlName="address" type="text">
	<app-field-error
		[displayError]="isFieldInvalid('address')"
		[errorMessage]="'direccion requerido'"
  ></app-field-error>

  <label for="">email</label>
  <input formControlName="email" type="email">
	<app-field-error
		[displayError]="isFieldInvalid('email')"
		[errorMessage]="'email requerido'"
  ></app-field-error>

  <label for="">pass</label>
  <input formControlName="password" type="password">
	<app-field-error
		[displayError]="isFieldInvalid('password')"
		[errorMessage]="'pass requerido'"
  ></app-field-error>

  <label for="">conf pass</label>
  <input formControlName="conf_pass" type="password">
	<app-field-error
		[displayError]="isFieldInvalid('conf_pass')"
		[errorMessage]="'pass requerido'"
  ></app-field-error>
	<app-field-error
		[displayError]="!isCorrectPass"
		[errorMessage]="'no coinciden'"
  ></app-field-error>

  <button>Register</button>
</form>
<p>form-register works!</p>
