@import '../../../styles/mixinsNeonButtons';
$lightColor: #a945c7;

@mixin configInput{
    display: inline-block;
    box-shadow: 0 0 5px $lightColor;
    margin-bottom: 3%;
    background-color:rgba(77, 7, 124, 0.363);
}

.registerForm{
    box-shadow: 0 0 30px $lightColor;
    border: 1px solid;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 4%;
    width: 30%;
    padding: 2%;
    display:table;
    color: #fff;
 
    mat-label{
        font-size: 17px;
        color: white;
        display: block;
        text-shadow:
        0 0 7px #fff,
        0 0 42px rgb(10, 0, 6);
        padding-left:8%;
    }

    .sectionOne{
        display: flex;
        justify-content: space-around;
        .nickname {
            @include configInput;
        }
        .nombres{
            @include configInput;
        }
    }

    .sectionTwo{
        display: flex;
        justify-content: space-around;
        .apellidos{
            @include configInput;
        }
        .rut{
            @include configInput;
        }
    }
    
    .sectionThree{
        display: flex;
        justify-content: space-around;

        .region{
            @include configInput;
            width: 41%;
        }
        .comuna{
            @include configInput;
            width: 41%;
        }
    }
    
    .sectionFour{
        display: flex;
        justify-content: space-around;

        .direccion{
            @include configInput;
        }
        .email{
            @include configInput;
        }
    }
    
    .sectionFive{
        display: flex;
        justify-content: space-around;

        .password{
            @include configInput;
        }
        .confirmPassword{
            @include configInput;
        }
    }
    
    .buttonRegistred{
        display: block;
        margin-top: 3%;
        @include neonButton(white, transparent);
        @include neonButtonText;

        span {
            @include buttonSpans;
        }
        .span1{
            @include spanConfiguration(0, none, -100%, none, 100%, 2px, 90deg, $lightColor);
        }
        .span2{
            @include spanConfiguration(-100%, none, none, 0, 2px, 100%, 180deg, $lightColor);
        }
        .span3{
            @include spanConfiguration(none, 0, none, -100%, 100%, 2px, 270deg, $lightColor);
        }
        .span4{
            @include spanConfiguration(none, -100%, 0, none, 2px, 100%, 360deg, $lightColor);
        }
    }

    .buttonRegistred:hover{
        @include neonButtonHover($lightColor);

        .span1{
            @include buttonHoverSpan(none, none, 100%, none, none);
        }
        .span2{
            @include buttonHoverSpan(100%, none, none, none, 0.25s);
        }
        .span3{
            @include buttonHoverSpan(none, none, none, 100%, 0.5s);
        }
        .span4{
            @include buttonHoverSpan(none, 100%, none, none, 0.75s);
        }
    }
}
