
<footer class=footer>
    <div class = logo routerLink="/home">Logo</div>
   <div class = sectionFooter>
        <div class = info >Más informacion:
            <p>Empressa E-commerce, enfocada en la venta y distribución de productos de los años 80s y 90s.
                Todo esto con el fin de recordar y disfrutar aquellos años que nos hicieron tan felices.
            </p>
        </div>
            
        <div class = social>Redes sociales
        
            <div class = socialIcons> 
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-github"></i>
                <i class="fas fa-envelope"></i>
            </div> 
        </div>

        <div class = pago> Medios de pago:
            <div class = pagoIcons>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fab fa-cc-discover"></i>
                <i routerLink="/admin/login" class="fab fa-cc-diners-club"></i>
            </div>
        </div>
    </div>
</footer>

