.comment-form {
  display: flex;
  justify-content: space-between;
  border: 1px solid #aaa;
  border-radius: 15px;
  margin: 10px;

  .background-comment {
    background-color: #0b0422;
    border-radius: 10px;
    margin: 15px;
  }

  .info-comment {
    width: 30%;
    padding: 10px;

    .calification {
      margin: 1.5em 0px 0.3em;
    }
  }

  .comment-wrapper {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 20px 20px 0px;

    .button {
      width: 20%;
      margin: 0px 0px 10px auto;
    }
  }
}

.star {
  font-size: 1.5rem;
  color: #cf8700;
  opacity: 0.1;
}

.filled {
  color: #cf8700;
  opacity: 1;
}

textarea {
  resize: none;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep textarea.mat-input-element::placeholder {
  color: white;
  opacity: 0.3;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white;
}
