.content {
  display: flex;
  flex-direction: column;

  .products-wrapper {
    display: flex;
    overflow-x: scroll;
    background-color: #23063e;
  }

  .category {
    background-color: #673ab7;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0px 0px 1% 1%;
  }
}
